* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-container .corner-purple-blob {
  width: 15%;
}

.top-container .corner-pink-blob {
  width: 15%;
}

header {
  width: 70%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-container {
  width: 10%;
  margin-left: 10%;
  margin-top: 1em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

header nav .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .search-rect {
  width: 8em;
  height: 2em;
  border-radius: 0.25 0 0 0.25em;
  background-color: #DBDBDB;
  padding-left: 0.5em;
  border: none;
  border-right: #676767 1px solid;
  font-size: 1em;
}

header nav .search-rect:focus {
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

header nav .search-rect::-webkit-input-placeholder {
  color: #676767;
  font-size: 1em;
  padding-left: 2em;
}

header nav .search-rect:-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
  padding-left: 2em;
}

header nav .search-rect::-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
  padding-left: 2em;
}

header nav .search-rect::placeholder {
  color: #676767;
  font-size: 1em;
  padding-left: 2em;
}

header nav .search-btn {
  height: 2em;
  width: 2em;
  background-color: #BBBBBB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

header nav .search-btn:active {
  background-color: #999999;
}

header nav .search-svg {
  height: 2em;
  width: 2em;
}

header nav .search-svg:hover {
  cursor: pointer;
}

header nav .navbar-link a {
  color: #21202C;
  font-size: 1em;
  text-decoration: none;
}

header nav .navbar-link a:hover {
  color: #778ada;
}

.hamburger-menu-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
    font-size: 10px;
  }
  .top-container .corner-purple-blob, .top-container .corner-pink-blob {
    display: none;
  }
  header {
    width: 100%;
    height: 10vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2E41;
    -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
            box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
  }
  header .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  header .logo-container img {
    width: 10em;
  }
  header nav {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #2F2E41;
    opacity: 0.98;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  header nav .navbar-link a {
    color: white;
    font-size: 2em;
    text-decoration: none;
  }
  header nav .navbar-link a:hover {
    color: white;
    opacity: 0.8;
  }
  .hamburger-menu-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    margin-left: 50%;
  }
  .hamburger-menu-icon img {
    width: 3em;
  }
  .hamburger-menu-icon:hover {
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.footer-container {
  width: 100%;
  height: 6em;
  margin: 10em 0 0 0;
  border-radius: 1em 1em 0 0;
  background-color: #778ada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer-logo {
  width: 7em;
  padding-left: 5em;
}

.footer-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30em;
}

.footer-container .footer-nav a {
  color: #F7F9FD;
  text-decoration: none;
  font-size: 1em;
}

.footer-container .footer-nav a:hover {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .footer-container .footer-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 5em;
    padding: 0;
  }
  .footer-container .footer-logo img {
    width: 10em;
  }
  .footer-container .footer-nav {
    font-size: 1.2em;
  }
}

body {
  background-color: #F7F9FD;
  overflow-x: hidden;
  overflow-y: hidden;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-container .corner-purple-blob {
  width: 15%;
  height: 4em;
}

.top-container .corner-purple-blob img {
  height: 13em;
}

.top-container .corner-pink-blob {
  width: 15%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-container .corner-pink-blob img {
  -ms-grid-column-align: end;
      justify-self: end;
  height: 15em;
  margin-left: auto;
}

.middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.middle-container .pink-wave {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: 15em;
}

.middle-container .pink-wave img {
  width: 120em;
}

.about-us-section {
  color: #21202C;
  text-align: left;
  padding: 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35em;
  margin-top: 8em;
  margin-left: 15em;
}

.about-us-section h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.about-us-section p {
  line-height: 1.5em;
}

.contact-bubble {
  color: white;
  margin-top: 17em;
  margin-right: 10em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 25em;
}

.contact-bubble .contact-us-svg {
  width: 30em;
  z-index: 0;
  position: absolute;
  top: 15em;
}

.contact-bubble .contact-us-content {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7em;
}

.contact-bubble .contact-us-content h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.contact-bubble .contact-us-content p {
  margin-bottom: 1em;
}

.contact-bubble .contact-us-content h3 {
  font-size: 0.8em;
  font-weight: bold;
}

.contact-bubble .contact-us-content .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-bubble .contact-us-content .social-media a img {
  height: 3em;
  margin: 0.5em 1em 1em 0;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 950px) {
  body {
    font-size: 0.8em;
    overflow-y: scroll;
  }
  .top-container .corner-pink-blob {
    display: none;
  }
  .middle-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-container .pink-wave {
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    bottom: 0;
  }
  .about-us-section {
    margin-left: 2em;
    font-size: 1.2em;
  }
  .contact-bubble {
    margin-top: 8em;
    margin-left: 10em;
  }
  .contact-bubble .contact-us-svg {
    margin-top: 20em;
  }
  .footer-container {
    display: none;
  }
}
/*# sourceMappingURL=about-us.css.map */