* {
	margin: 0;
	padding: 0;
	border: none;
}
#decorative-svgs {
	position: absolute;
	width: 100%;
	height: 1080.301px;
	left: -1px;
	top: 0px;
	overflow: visible;
}
#pink-wave {
	fill: rgba(243, 185, 180, 0.239);
}
.pink-wave {
	overflow: visible;
	position: absolute;
	width: 1000%;
	height: 742.477px;
	left: 0px;
	width: 2000px;
	top: 337.824px;
	transform: matrix(1,0,0,1,0,0);
}
#big-pink-blob {
	fill: rgba(248, 176, 169, 0.549);
	fill-opacity: 0.8;
}
.big-pink-blob {
	overflow: visible;
	position: absolute;
	width: 355.06px;
	height: 331.625px;
	left: 1875.94px;
	top: 76px;
	transform: matrix(1,0,0,1,0,0);
}
#small-pink-blob {
	fill: rgba(250, 234, 232, 0.29);
	fill-opacity: 0.5;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.small-pink-blob {
	overflow: visible;
	position: relative;
	width: 231.275px;
	height: 211.027px;
	left: 1928.94px;
	top: 155.598px;
	transform: matrix(1,0,0,1,0,0);
}
#purple-top-left-blob {
	fill: rgba(119,138,218,1);
}
.purple-top-left-blob {
	overflow: visible;
	position: absolute;
	width: 189.656px;
	height: 149.978px;
	left: 0.37px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#about-us-box {
	position: fixed;
	width: 700px;
	height: 290px;
	left: 300px;
	top: 238px;
	overflow: visible;
	border-radius: 2px;
	z-index: 2;
}
#main-title {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgb(49, 46, 114);
	letter-spacing: -0.1px;
}
#main-subtitle {
	left: 0px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 526px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(47,46,65,1);
	letter-spacing: -0.1px;
}
#get-in-touch-bubble {
	position: absolute;
	width: 712.02px;
	height: 467.175px;
	left: 1490.235px;
	top: 400.392px;
	overflow: visible;
}
#purple-blob {
	fill: rgba(119,138,218,1);
}
.purple-blob {
	overflow: visible;
	position: absolute;
	width: 702.441px;
	height: 555px;
	transform: translate(-1117.235px, -367.392px) matrix(1,0,0,1,1122.0252,373.4798) rotate(-1deg);
	transform-origin: center;
	left: 0px;
    top: 0px;
}
#__Write_to_us_at_persistent_ac {
	left: 221.765px;
	top: 50.608px;
	position: absolute;
	overflow: visible;
	width: 329px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(247,249,253,1);
	letter-spacing: -0.1px;
}
.writetous a:link {
    color: rgb(241, 241, 241);
    background-color: transparent;
    text-decoration: none;
  }
.writetous a:visited {
    color: rgb(241, 241, 241);
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
  }
  .writetous a:hover {
    color:  black;
    background-color: transparent;
    font-size:30px;
    text-decoration: bold;
  }
#Get_in_touch_with_us {
	left: 212.765px;
	top: 100.608px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 55px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgb(253, 250, 247);
}
.social-media{
	display:flex;
	justify-content:center;
}
.social-media a{
	flex-direction: row;
	display:flex;
	background:#e3edf7;
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px sloid rgba(0,0,0,0);
	transition: transform 0.5s;
}
.social-media a i{
	  font-size: 35px;
	  color:#777;
    }
.social-media a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
				inset -4px -4px 6px -1px rgba(255,255,255,0.7),
				-0.5 -0.5px 0px rgba(255,255.255,1),
				0.5px 0.5px 0px rgba(0,0,0,0.15),
				0px 12px 10px -10px rgba(0,0,0,0.05);
	border: 1px sloid rgba(0,0,0,0.01);
	transform: translateY(2px);
}
.social-media a:hover i{
	transform: scale(0.90);
}
.fa-facebook:hover{
	color:#3b5998;
}
.fa-twitter:hover{
	color:#00acee;
}
.fa-instagram:hover{
	color:#f14843;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 30px;
}

.footer{
	position: fixed;
	bottom: 0;
	padding: 2px;
	right: 0;
	left: 0;;
	width: 100%;
	color: white;
    background-color: rgba(75,100,207,0.75);  
	height: 100px;
	text-align: right;
}

.footer a{
    color: white;
}

h3,p {
    text-align: center;
  }

.img{
    text-align: right;
}
