body{
	background: url("/assets/topics-page/pink-wave.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	height: max-content;
	overflow-x: hidden;
	background-position-y: 31vh;
  }

  .navbar.scrolled {
	/* background-color: rgba(127, 9, 223, 0.95) !important; */
     background-color: rgb(250,218,221)  !important;
	transition: background-color 200ms linear;
}

  .About-Us {
	position: relative;
	height: fit-content;
	margin-left: 19vw;
	top: 25vh;
}
#main-title {
	font-size: 2rem;
	white-space: nowrap;
	text-align: left;
	color: black;
	letter-spacing: -0.1px;
}

#main-subtitle {
	max-width: 1em;
	top: 9vh;
	white-space: nowrap;
	text-align: justify;
	font-family: Open Sans;
	font-size: 1rem;
	color: rgba(47,46,65,1);
}

.contact{
	position: relative;
	text-align: center;
}

.side-blob {
	position: absolute;
	top: 0;
	right: 0;
}

.get-in-touch-bubble {
	position: absolute;
	margin-top:-4vh;
	float: right;
	margin-right: -5vw;
	right: 0;
}
 
.fab, .contact h2, .contact p, .contact h6 {
	color: whitesmoke;
}

.Get-in-touch {
	position: absolute;
	margin-top: 20vh;
	right: 0vw;
} 

.write-to-us {
	position: absolute;
	text-align: left;
	font-size: 1rem;
	width: 17em;
}

.social-media-text {
	position: absolute;
	padding-top: 3em;
	text-align: justify;
}

.social-media-text a {
	padding-left: -10vw;
}

.write-to-us a:link{ color: whitesmoke; }

.write-to-us a:hover{ color: blueviolet; }

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 30px;
}

.footer{
	bottom: 0;
	padding: 2px;
	right: 0;
	left: 0;;
	width: 100%;
	color: white;
    background-color: rgba(75,100,207,0.75);  
	height: 25vh;
	text-align: right;
}


.footer a{
    color: white;
}

.corner-purple-blob{
	float:left;
	z-index: 1000;
	position: absolute;
}

.footer {
	bottom: 0 !important;
	margin-top: 78vh !important;
	height: 5rem;
}

