* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-container,
.search-container * {
  -webkit-transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  position: absolute;
  top: 3em;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0 0 1px #676767;
          box-shadow: 0 0 1px #676767;
  border-radius: 0.5em;
}

.search-results-container .search-result {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 1.5em;
}

.search-results-container .search-result .breadcrumb {
  font-size: 1em;
  color: gray;
  padding-bottom: 0.5em;
}

.search-results-container .search-result .chapter-name {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.search-results-container .search-result:hover {
  background-color: #eeeeee;
}

.search-results-container .search-result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.search-results-container .search-result:first-of-type {
  border-radius: 0.5em 0.5em 0 0;
}

.search-results-container .search-result:last-of-type {
  border-radius: 0 0 0.5em 0.5em;
}

@media screen and (max-width: 950px) {
  .search-results-container {
    top: 5em;
    left: -3em;
    font-size: 1.2em;
  }
  .search-results-container .search-result {
    width: 300px;
  }
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 3em;
}

header {
  width: 85%;
  height: 5em;
  background-color: #F7F9FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container {
  width: 8em;
  margin-left: 7em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header nav .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.25rem;
}

header nav .search-rect {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 10em;
  height: 2em;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #DBDBDB;
  padding-left: 0.5em;
  border: none;
  font-size: 1em;
  color: #676767;
}

header nav .search-rect:focus {
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 5px #9ecaed;
          box-shadow: 0 0 5px #9ecaed;
}

header nav .search-rect::-webkit-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect:-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 2em;
  width: 2em;
  background-color: #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 0.25rem 0 0 0.25rem;
}

header nav .search-btn:active {
  background-color: #999999;
}

header nav .search-svg {
  height: 1.5em;
  width: 1.5em;
}

header nav .search-svg:hover {
  cursor: pointer;
}

header nav .navbar-link a {
  color: #21202C;
  font-size: 1em;
  text-decoration: none;
}

header nav .navbar-link a:hover {
  color: #778ada;
}

.hamburger-menu-icon {
  display: none;
}

.side-menu-title {
  width: 15%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F7F9FD;
  background-color: #2F2E41;
  font-size: 2.5em;
  font-weight: 600;
}

.middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #2F2E41;
}

.side-menu {
  width: 15%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #3c3b52 #21202C;
  background-color: #2F2E41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 6em;
}

.side-menu .chapter-link-container {
  width: 100%;
  height: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.side-menu .chapter-link-container.current-chapter {
  background-color: #21202C;
  -webkit-box-shadow: 0.5em 0 0.5em #676767;
          box-shadow: 0.5em 0 0.5em #676767;
}

.side-menu .chapter-link-container.current-chapter :hover {
  text-decoration: underline;
}

.side-menu .chapter-link-container a {
  color: #F7F9FD;
  text-decoration: none;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.side-menu .chapter-link-container a .chapter-num {
  font-size: 0.8em;
  color: gray;
}

.side-menu .chapter-link-container a:hover {
  color: #778ada;
}

.main-content {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #F7F9FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .chapter-subtitle {
  margin: 4rem 0 0 3rem;
  color: #676767;
}

.main-content .chapter-name {
  margin: 0.5rem 0 0 3rem;
  color: #21202C;
  font-size: 2.5em;
}

.main-content .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 3em;
  margin-left: 5rem;
}

.main-content .container .pdf-container {
  margin-right: 5rem;
}

.main-content .container .pdf-container iframe {
  width: 55em;
  height: 50em;
}

.main-content .container .in-this-topic-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 2em;
  width: 18em;
  padding: 2em 1.5em;
  font-size: 1em;
  background-color: #FEF3F2;
  border-radius: 1em;
  -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
          box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
}

.main-content .container .in-this-topic-card h2 {
  margin-bottom: 1em;
}

.main-content .container .in-this-topic-card ol {
  line-height: 1.5em;
  list-style: none;
  counter-reset: cupcake;
  padding-left: 1em;
}

.main-content .container .in-this-topic-card ol li {
  counter-increment: cupcake;
}

.main-content .container .in-this-topic-card ol li:before {
  content: counters(cupcake, ".") ". ";
  font-weight: bold;
}

.main-content .bottom-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .imp-points {
  margin: 5em 5em 2em 5rem;
}

.main-content .imp-points h1 {
  font-size: 2em;
  font-weight: bold;
  color: #21202C;
  margin-bottom: 0.5em;
}

.main-content .imp-points ul {
  list-style: square;
  line-height: 1.7em;
  margin-left: 2em;
}

.main-content .external-resources {
  margin: 0 5em 5em 5rem;
}

.main-content .external-resources h1 {
  font-size: 2em;
  font-weight: bold;
  color: #21202C;
  margin-bottom: 0.5em;
}

.main-content .external-resources ul {
  list-style: square;
  line-height: 1.7em;
  margin-left: 2em;
}

@media screen and (max-width: 1500px) {
  body {
    overflow-x: hidden;
    font-size: 13px;
  }
  .side-menu-title {
    width: 15%;
  }
  .side-menu {
    width: 15%;
  }
  .in-this-topic-card {
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 1160px) {
  body {
    overflow-x: hidden;
    font-size: 13px;
  }
  .side-menu-title {
    display: none;
  }
  .side-menu {
    display: none;
  }
  header {
    width: 100%;
    height: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2E41;
    -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
            box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
  }
  header .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  header .logo-container img {
    width: 10em;
  }
  header nav {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #2F2E41;
    opacity: 0.98;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  header nav .navbar-link a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  header nav .navbar-link a:hover {
    color: white;
    opacity: 0.8;
  }
  header nav .search-container {
    font-size: 10px;
  }
  header nav .search-rect {
    width: 10em;
    height: 2em;
    font-size: 2em;
  }
  header nav .search-rect::-webkit-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect:-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::placeholder {
    font-size: 1em;
  }
  header nav .search-btn {
    width: 4em;
    height: 4em;
  }
  header nav .search-svg {
    height: 3em;
    width: 3em;
  }
  .hamburger-menu-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    margin-left: 50%;
  }
  .hamburger-menu-icon img {
    width: 3em;
  }
  .hamburger-menu-icon:hover {
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .main-content {
    width: 100%;
  }
  .main-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 2rem;
  }
  .main-content .container .pdf-container {
    margin-bottom: 2em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-content .container .pdf-container iframe {
    width: 50em;
    height: 60em;
  }
  .main-content .container .in-this-topic-card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-content .chapter-name, .main-content .chapter-subtitle {
    margin-left: 1rem;
  }
  .main-content .chapter-subtitle {
    font-size: 1.2em;
  }
  .main-content .imp-points, .main-content .external-resources {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .search-results-container {
    top: 5em;
    left: -3em;
    font-size: 1.2em;
  }
  .search-results-container .search-result {
    width: 300px;
  }
  .main-content .container .pdf-container iframe {
    width: 80vw;
    max-width: 40em;
  }
}
/*# sourceMappingURL=article.css.map */