* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-container .corner-purple-blob {
  width: 15%;
}

.top-container .corner-pink-blob {
  width: 15%;
}

header {
  width: 70%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-container {
  width: 10%;
  margin-left: 10%;
  margin-top: 1em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header nav .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.25rem;
}

header nav .search-rect {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 10em;
  height: 2em;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #DBDBDB;
  padding-left: 0.5em;
  border: none;
  font-size: 1em;
  color: #676767;
}

header nav .search-rect:focus {
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 5px #9ecaed;
          box-shadow: 0 0 5px #9ecaed;
}

header nav .search-rect::-webkit-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect:-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 2em;
  width: 2em;
  background-color: #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 0.25rem 0 0 0.25rem;
}

header nav .search-btn:active {
  background-color: #999999;
}

header nav .search-svg {
  height: 1.5em;
  width: 1.5em;
}

header nav .search-svg:hover {
  cursor: pointer;
}

header nav .navbar-link a {
  color: #21202C;
  font-size: 1em;
  text-decoration: none;
}

header nav .navbar-link a:hover {
  color: #778ada;
}

.hamburger-menu-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
    font-size: 10px;
  }
  .top-container .corner-purple-blob {
    display: none;
  }
  .top-container .corner-pink-blob {
    display: none;
  }
  header {
    width: 100%;
    height: 10vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2E41;
    -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
            box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
  }
  header .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  header .logo-container img {
    width: 10em;
  }
  header nav {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #2F2E41;
    opacity: 0.98;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  header nav .navbar-link a {
    color: white;
    font-size: 2em;
    text-decoration: none;
  }
  header nav .navbar-link a:hover {
    color: white;
    opacity: 0.8;
  }
  header nav .search-rect {
    width: 10em;
    height: 2em;
    font-size: 2em;
  }
  header nav .search-rect::-webkit-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect:-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::placeholder {
    font-size: 1em;
  }
  header nav .search-btn {
    width: 4em;
    height: 4em;
  }
  header nav .search-svg {
    height: 3em;
    width: 3em;
  }
  .hamburger-menu-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    margin-left: 50%;
  }
  .hamburger-menu-icon img {
    width: 3em;
  }
  .hamburger-menu-icon:hover {
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-container,
.search-container * {
  -webkit-transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  position: absolute;
  top: 3em;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0 0 1px #676767;
          box-shadow: 0 0 1px #676767;
  border-radius: 0.5em;
}

.search-results-container .search-result {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 1.5em;
}

.search-results-container .search-result .breadcrumb {
  font-size: 1em;
  color: gray;
  padding-bottom: 0.5em;
}

.search-results-container .search-result .chapter-name {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.search-results-container .search-result:hover {
  background-color: #eeeeee;
}

.search-results-container .search-result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.search-results-container .search-result:first-of-type {
  border-radius: 0.5em 0.5em 0 0;
}

.search-results-container .search-result:last-of-type {
  border-radius: 0 0 0.5em 0.5em;
}

@media screen and (max-width: 950px) {
  .search-results-container {
    top: 5em;
    left: -3em;
    font-size: 1.2em;
  }
  .search-results-container .search-result {
    width: 300px;
  }
}

.footer-container {
  width: 100%;
  height: 6em;
  margin: 10em 0 0 0;
  border-radius: 1em 1em 0 0;
  background-color: #778ada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer-logo {
  width: 7em;
  padding-left: 5em;
}

.footer-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30em;
}

.footer-container .footer-nav a {
  color: #F7F9FD;
  text-decoration: none;
  font-size: 1em;
}

.footer-container .footer-nav a:hover {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .footer-container .footer-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 5vw;
    padding: 0;
  }
  .footer-container .footer-logo img {
    width: 10em;
  }
  .footer-container .footer-container .footer-nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-container .footer-container .footer-nav a {
    font-size: 3em;
  }
}

body {
  background-color: #F7F9FD;
  overflow-x: hidden;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-container .corner-purple-blob {
  width: 15%;
  height: 4em;
}

.top-container .corner-purple-blob img {
  height: 13em;
}

.top-container .corner-pink-blob {
  width: 15%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-container .corner-pink-blob img {
  height: 15em;
  margin-left: auto;
}

.middle-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13em;
}

.middle-container .boy-illustration {
  width: 18em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5em;
  margin-right: 3em;
}

.middle-container .boy-illustration img {
  width: 100%;
}

.middle-container .hero-section {
  width: 50em;
  padding: 3em;
  height: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.middle-container .hero-section h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.middle-container .hero-section .sub-heading {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.middle-container .hero-section .start-learning {
  background-color: #4b64cf;
  font-size: 1em;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7em 2em;
  border-radius: 1.5em;
}

.middle-container .hero-section .start-learning a {
  text-decoration: none;
  color: #F7F9FD;
}

.middle-container .hero-section .start-learning:hover {
  cursor: pointer;
  outline: none;
  border-color: #4b64cf;
  -webkit-box-shadow: 0 0 10px #4b64cf;
          box-shadow: 0 0 10px #4b64cf;
  background-color: #5168d3;
}

.middle-container .girl-illustration {
  width: 22em;
  margin-right: 3em;
  margin-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.middle-container .girl-illustration img {
  width: 100%;
  margin: auto;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20em;
  margin-bottom: 20em;
}

.cards-container .center-bubbles {
  z-index: -1;
  position: absolute;
  left: 0;
}

.cards-container .center-bubbles img {
  width: 107em;
}

.cards-container .cards {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-container .cards .card-rect {
  height: 20em;
  width: 18em;
  background-color: #F7F9FD;
  -webkit-box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.4);
          box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.4);
  margin: 2em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 1.5em 2em 1.5em 2em;
}

.cards-container .cards .card-rect .card-icon {
  width: 100%;
}

.cards-container .cards .card-rect .card-icon img {
  width: 5em;
}

.cards-container .cards .card-rect .card-title {
  font-size: 1.2em;
  font-weight: 600;
}

.cards-container .cards .card-rect .card-subtitle {
  font-size: 1em;
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  .top-container .corner-pink-blob {
    display: none;
  }
  .middle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5em;
  }
  .middle-container .boy-illustration {
    font-size: 8px;
    margin-bottom: 4em;
  }
  .middle-container .girl-illustration {
    display: none;
  }
  .middle-container .hero-section {
    font-size: 1.2em;
    max-width: 50em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .cards-container {
    margin-top: 10em;
    margin-bottom: 2em;
  }
  .cards-container .center-bubbles {
    width: 100vw;
    overflow-x: hidden;
  }
  .cards-container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=index.css.map */