.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

a:hover{
	color:inherit;
}
.wrapper{
	display: flex;
	text-decoration: none;
}
/*.footer{
	position: bottom;
	margin-left: 90%;
	width:100 ;
	height:12;
	right:0;
	min-width: 800px;
}*/

/*.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 100px;

}*/
#in-this-article-navbar {
	position: absolute;
	/*width: 20vw;
	height:37vh;*/
	left:13vw;
	top: 16.3vh;
	overflow: visible;
}
#rect {
	fill: rgba(255,255,255,1);
}
.rect {
	filter: drop-shadow(2px 2px 6px rgba(47, 46, 65, 1));
	position: absolute;
	overflow: visible;
	width: 30vw;
	height: 48vh;
	left: 0px;
	top: 0px;
}

/*#pink-blob{
	position: absolute;
	width:29px;
	height:270px;
	left:10px;
	top: 900px;
	overflow: visible;
}*/
#-_What_is_a_chemical_reaction {
	left: 2.3vw;
	top: 13vh;
	position: absolute;
	overflow: visible;
	width: 8.85vw;
	white-space: nowrap;
	line-height: 3.5vh;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	color: rgba(75,100,207,1);
	letter-spacing: -0.00625em;
	text-decoration: underline;
}
#-_What_is_a_chemical_equation_ {
	left: 2.3vw;
	top: 18vh;
	position: absolute;
	overflow: visible;
	width: 8.85vw;
	white-space: nowrap;
	line-height: 3.5vh;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	color: rgba(75,100,207,1);
	letter-spacing: -0.00625em;
	text-decoration: underline;
}
#-_Important_Points {
	left: 2.3vw;
	top: 22.5vh;
	position: absolute;
	overflow: visible;
	width: 8.85vw;
	white-space: nowrap;
	line-height: 3.5vh;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	color: rgba(75,100,207,1);
	letter-spacing: -0.00625em;
	text-decoration: underline;
}
#-_Previous_Years_Questions {
	left: 2.3vw;
	top: 27vh;
	position: absolute;
	overflow: visible;
	width: 8.85vw;
	white-space: nowrap;
	line-height: 3.5vh;
	margin-top: -7.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	color: rgba(75,100,207,1);
	letter-spacing: -0.00625em;
	text-decoration: underline;
}
#In_this_article {
	left: 2.8vw;
	top: 5.57vh;
	position: absolute;
	overflow: visible;
	width: 8.85vw;
	white-space: nowrap;
	line-height:  4.6vh;
	margin-top: -6.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.375rem;
	color: rgba(47,46,65,1);
	letter-spacing: -0.00625em;
}

.sideMenu{
  height: 100vh;
  width: 17vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2F2E41;
  overflow-x: hidden;
  padding-top: 20px;
  
}
.sideMenuItem{
  position: absolute;
 margin-top: 6.5vh;
 margin-left: 2.8vw;;
}

.sideMenu h1{
  color:whitesmoke;
  text-align: center;
  margin-top: 3vh;
  
}

.sideMenu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  text-align:center;
}

.sideMenu a:hover {
  color:#7269d6;
}

.logo img{
  position: fixed;
  padding-left: 11vw;
  padding-top: 3vh;
}

.search{
  position: absolute;
  margin-left: 57vw;
  padding-top: 3vh;
}

.subject{
  position: absolute;
  margin-left: 75vw;
  padding-top: 3vh;
}


.aboutUs{
  position: absolute;
  margin-left: 81.5vw;
  padding-top: 3vh;
}
