* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #2F2E41;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
  width: 88%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container {
  width: 8em;
  margin-left: 7em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header nav .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.25rem;
}

header nav .search-rect {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 10em;
  height: 2em;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #DBDBDB;
  padding-left: 0.5em;
  border: none;
  font-size: 1em;
  color: #676767;
}

header nav .search-rect:focus {
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 5px #9ecaed;
          box-shadow: 0 0 5px #9ecaed;
}

header nav .search-rect::-webkit-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect:-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::-ms-input-placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-rect::placeholder {
  color: #676767;
  font-size: 1em;
}

header nav .search-btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 2em;
  width: 2em;
  background-color: #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 0.25rem 0 0 0.25rem;
}

header nav .search-btn:active {
  background-color: #999999;
}

header nav .search-svg {
  height: 1.5em;
  width: 1.5em;
}

header nav .search-svg:hover {
  cursor: pointer;
}

header nav .navbar-link a {
  color: #F7F9FD;
  font-size: 1em;
  text-decoration: none;
}

header nav .navbar-link a:hover {
  color: #778ada;
}

.hamburger-menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    font-size: 10px;
  }
  header {
    width: 100%;
    height: 10vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2E41;
    -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
            box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
  }
  header .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  header .logo-container img {
    width: 10em;
  }
  header nav {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #2F2E41;
    opacity: 0.98;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  header nav .navbar-link a {
    color: white;
    font-size: 2em;
    text-decoration: none;
  }
  header nav .navbar-link a:hover {
    color: white;
    opacity: 0.8;
  }
  header nav .search-rect {
    width: 10em;
    height: 2em;
    font-size: 2em;
  }
  header nav .search-rect::-webkit-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect:-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::-ms-input-placeholder {
    font-size: 1em;
  }
  header nav .search-rect::placeholder {
    font-size: 1em;
  }
  header nav .search-btn {
    width: 4em;
    height: 4em;
  }
  header nav .search-svg {
    height: 3em;
    width: 3em;
  }
  .hamburger-menu-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    margin-left: 50%;
  }
  .hamburger-menu-icon img {
    width: 3.5em;
  }
  .hamburger-menu-icon:hover {
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.side-menu {
  width: 13em;
  height: 100vh;
  background-color: #2F2E41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  z-index: 1;
}

.side-menu .side-menu-title {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F7F9FD;
  font-size: 2em;
  font-weight: 600;
}

.side-menu .subject-link-container {
  width: 100%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-menu .subject-link-container.current-subject {
  background-color: #21202C;
  -webkit-box-shadow: 0.5rem 0rem 0.5rem #676767;
          box-shadow: 0.5rem 0rem 0.5rem #676767;
}

.side-menu .subject-link-container a {
  color: #F7F9FD;
  text-decoration: none;
  font-size: 1.3em;
}

.side-menu .subject-link-container a:hover {
  color: #778ada;
}

@media screen and (max-width: 1024px) {
  .side-menu {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-container,
.search-container * {
  -webkit-transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, -webkit-box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s;
  transition: background 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  position: absolute;
  top: 3em;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0 0 1px #676767;
          box-shadow: 0 0 1px #676767;
  border-radius: 0.5em;
}

.search-results-container .search-result {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 1.5em;
}

.search-results-container .search-result .breadcrumb {
  font-size: 1em;
  color: gray;
  padding-bottom: 0.5em;
}

.search-results-container .search-result .chapter-name {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.search-results-container .search-result:hover {
  background-color: #eeeeee;
}

.search-results-container .search-result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.search-results-container .search-result:first-of-type {
  border-radius: 0.5em 0.5em 0 0;
}

.search-results-container .search-result:last-of-type {
  border-radius: 0 0 0.5em 0.5em;
}

@media screen and (max-width: 950px) {
  .search-results-container {
    top: 5em;
    left: -3em;
    font-size: 1.2em;
  }
  .search-results-container .search-result {
    width: 300px;
  }
}

.middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-container {
  height: 100%;
  width: 88%;
  background-color: #F7F9FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

.main-container .cards-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.main-container .cards-container h1 {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  padding: 1em 0;
  font-size: 3em;
}

.card {
  width: 50em;
  min-height: 15em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  background-color: lightblue;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
          box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
}

.card .card-content {
  min-height: 15em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #21202C;
  position: relative;
  background-color: white;
}

.card .card-content .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card-content .card-top .card-title {
  width: 55%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5em;
  margin: 1.5em;
}

.card .card-content .card-top .imp-points-btn {
  font-size: 0.8em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.8em;
  color: #21202C;
  border: 1px solid #21202C;
  border-radius: 0.3em;
  margin-right: 3em;
  margin-top: 2em;
  text-decoration: none;
}

.card .card-content .card-top .imp-points-btn:hover {
  background-color: #21202c19;
}

.card .card-content .card-description {
  font-size: 1em;
  margin: 0 1.5em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.card .card-content .start-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card .card-content .start-btn {
  font-size: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #21202C;
  color: white;
  margin: 1em 3em 1.5em 0;
  font-weight: normal;
  letter-spacing: 0.05em;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.card .card-content .start-btn:hover {
  cursor: pointer;
  background-color: #21202ce0;
  color: white;
}

.card .card-content .start-btn:active {
  cursor: pointer;
  background-color: #21202ce0;
}

.card-image {
  height: auto;
  width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.card-image img {
  width: 10em;
}

.card-left .card-content {
  border-radius: 0 1em 1em 0;
}

.card-right .card-content {
  border-radius: 1em 0 0 1em;
}

@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    width: 100%;
    font-size: 10px;
  }
  .card {
    width: 30em;
  }
  .card .card-content {
    width: 22em;
  }
  .card .card-title {
    width: 55%;
    font-size: 1em;
    margin: 1em;
  }
}
/*# sourceMappingURL=topics.css.map */