@import 'common.scss', 'header.scss','instant-search.scss', 'footer.scss';

body {
    background-color: color('background-ivory');
    overflow-x: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.top-container {
    display: flex;
    justify-content: space-between;

    .corner-purple-blob {
        width: 15%;
        height: 4em;
    
        img {
            height: 13em;
        }
    }
    
    .corner-pink-blob {
        width: 15%;
        height: 4em;
        display: flex;
    
        img {
            height: 15em;
            margin-left: auto;
        }
    }
}

.middle-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 13em;

    .boy-illustration {
        width: 18em;
        height: fit-content;
        margin-left: 5em;
        margin-right: 3em;

        img {
            width: 100%;
        }
    }

    .hero-section {
        width: 50em;
        padding: 3em;
        height: 22em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .sub-heading {
            font-size: 1em;
            font-weight: normal;
            margin-bottom: 0.5rem;
        }

        .start-learning {
            background-color: color('dark-purple');
            font-size: 1em;
            font-weight: bold;
            width: fit-content;
            height: fit-content;
            padding: 0.7em 2em;
            border-radius: 1.5em;

            a {
                text-decoration: none;
                color: color('background-ivory');
            }
        }

        .start-learning:hover {
            cursor: pointer;
            outline: none;
            border-color: color('dark-purple');
            box-shadow: 0 0 10px color('dark-purple');
            background-color: #5168d3;
        }
    }

    .girl-illustration {
        width: 22em;
        margin-right: 3em;
        margin-left: 3em;
        display: flex;
        align-content: center;

        img {
            width: 100%;
            margin: auto;
        }
    }
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20em;
    margin-bottom: 20em;

    .center-bubbles {
        z-index: -1;
        position: absolute;
        left: 0;

        img {
            width: 107em;
        }
    }

    .cards {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-rect {
            height: 20em;
            width: 18em;
            background-color: color('background-ivory');
            box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.4);     
            margin: 2em;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            padding: 1.5em 2em 1.5em 2em;

            .card-icon {
                width: 100%;

                img {
                    width: 5em;
                }
            }

            .card-title {
                font-size: 1.2em;
                font-weight: 600;
            }

            .card-subtitle {
                font-size: 1em;
            }
        }
    }
}


@media screen and (max-width: 950px) {
    body {
        overflow-x: hidden;
    }

    .top-container .corner-pink-blob {
        display: none;
    }

    .middle-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // background-color: yellowgreen;
        margin-top: 5em;

        .boy-illustration {
            font-size: 8px;
            margin-bottom: 4em;
        }

        .girl-illustration {
            // font-size: 8px;
            display: none;
        }

        .hero-section {
            font-size: 1.2em;
            max-width: 50em;
            width: fit-content;
        }
    }

    .cards-container {
        margin-top: 10em;
        margin-bottom: 2em;

        .center-bubbles {
            // width: fit-content;
            // height: fit-content;
            // justify-self: flex-start;
            // margin-left: -20em;

            // clip-path: inset(0 0 10px 10px);
            // clip-path: circle(100px);
            // clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
            // background-color: purple;
            width: 100vw;
            overflow-x: hidden;

            // img {
            //     height: 100em;
            //     width: fit-content;
            // }
        }

        .cards {
            flex-direction: column;
            font-size: 1.5em;
        }
    }

    
}