@import 'common.scss', 'header.scss';

.page-container {
    display: flex;
    flex-direction: column;
}

.middle-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: -8%;

    .cards-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: powderblue;

        .cards-row-1 {
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
            }
        }

        .cards-row-2 {
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
            }
        }
    }
}

.card {
    margin: 1em;
}

.card svg {
    filter: drop-shadow(0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.4));  
}

svg:hover {
    opacity: 0.8;
}


@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        font-size: 0.5em;
    }

    header {
        font-size: 13px;
    }

    .middle-container {
        margin-top: 0%;
        .cards-container {
            // background-color: powderblue;
            width: 70%;

            .cards-row-1 {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .cards-row-2 {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}